<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Dlyl Alsham Dashboard</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>dlyl_alsham_dashboard</string>
	   <!-- 🚀 هنا تضيف البرميشنز الخاصة بالصور والكاميرا -->
        <key>NSPhotoLibraryUsageDescription</key>
        <string>نحتاج للوصول إلى الصور لاختيار صورة للمشروع.</string>
        <key>NSCameraUsageDescription</key>
        <string>نحتاج للوصول إلى الكاميرا لالتقاط صورة.</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>السماح للتطبيق بحفظ الصور في معرض الصور.</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>نحتاج إلى الميكروفون لتسجيل فيديو أو صوت.</string>
        <!-- 🚀 انتهى -->
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>نحتاج إلى موقعك لعرض المواقع القريبة منك.</string>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>نحتاج إلى موقعك دائمًا لعرض المواقع القريبة منك.</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>نحتاج إلى موقعك دائمًا لعرض المواقع القريبة منك.</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
